{% extends 'portfolio_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <img src="{% static 'img/about_me_2.png' %}"
                 alt="avatar" class="rounded-circle mx-auto p-3">
        </div>
        <hr>
        <div class="col text-center">
            <p class="lead font-weight-normal">
                Hello I'm Florin, a college graduate looking for a job.
                I graduated Ștefan cel Mare University of Suceava, Computer science field, Bachelor's degree.
                My main focus and interest for now is becoming a professional in the area of software development.
                Right now I am learning more about APIs and servers. I would love an opportunity where I could gain
                more knowledge around these concepts.
            </p>
        </div>
        <hr>
        <div class="col text-center">
            <p class="lead font-weight-normal">
                I like challenges and learning new things constantly.
                During my free time I like to read or listen audiobooks. Occasionally, I draw and play computer
                games. I also love exercising frequently. I think it helps the body and the mind and it's awesome
                to feel and look good.
            </p>
        </div>
        <div class="col text-center" style="margin-top: 10px;">&#128021; == &#128008;</div>
        <div class="col text-center">&#9968;&#65039; > &#x1F3D6;&#xFE0F;</div>
        <div class="col text-center">&#x1F5A5;&#xFE0F;&#x1F3A8;&#x1F355;&#x1F3CB;&#xFE0F;&#x200D;&#x2642;&#xFE0F;</div>
        <hr>
        <div class="col text-center">
            <h1 class="display-5" style="margin-bottom: 20px;">Objectives</h1>
            <p class="lead font-weight-normal">
                Moving to a bigger city, finding a job.
            </p>
            <p class="lead font-weight-normal">
                In the long run, getting a Master's Degree and achieving some personal physical
                goals.
            </p>
        </div>
    </div>
{% endblock content %}