{% extends 'portfolio_app/base.html' %}
{% block content %}
    <div class="content">

        <div class="row">
            <div class="col">
                <div class="card work-card mx-auto text-center" style="max-width: 40rem;">
                    <div class="card-header">
                        Junior Java Developer
                    </div>
                    <div class="card-body">

                        <blockquote class="blockquote mb-0">
                            <p>First job. Part of an agile team. The project was a web application and I had worked on
                                both server and client side.</p>
                            <footer class="blockquote-footer">I had worked between<cite
                                    title="April 2018 – August 2019">
                                01/04/2018 – 01/08/2019</cite></footer>
                        </blockquote>

                        <h1 class="display-4" style="margin-top: 15px;">What I've learnt</h1>
                        <ul class="text-left">
                            <li>
                                <p>I've learnt how to build a web application, both server and client and host it
                                    with tomcat.</p>
                            </li>
                            <li>
                                <p>For the first time, I've learnt how to work with version control systems and how
                                    to use it on a larger project with multiple developers working on it.</p>
                            </li>
                            <li>
                                <p>I've learnt how to apply design patterns, such as Observer, Factory,
                                    Singleton.</p>
                            </li>
                            <li>
                                <p>I've learnt how to create async callbacks. Seemed really cool back then.
                                    New stuff for me.</p>
                            </li>
                            <li>
                                <p>I had collaborated with coworkers, thus I've learnt how to work in team on an
                                    issue.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card work-card mx-auto text-center" style="max-width: 40rem;">
                    <div class="card-header">
                        Home Weather - Personal Project
                    </div>
                    <div class="card-body">

                        <a target="_blank" href="https://home-w.herokuapp.com/">https://home-w.herokuapp.com/</a>

                        <blockquote class="blockquote mb-0">
                            <p>The project is a weather website hosted on a heroku server. It displays daily and hourly
                                forecasts read from an api, and can send alarms in case of bad weather ahead.</p>
                            <p><b>The motivation</b> behind it was to write a weather app easier to use by my
                                grandmother
                                during the summer period when the hay is made, because many websites had a lot of extra
                                information which she couldn't care less about.</p>
                        </blockquote>

                        <h1 class="display-4" style="margin-top: 15px;">What I've learnt</h1>
                        <ul class="text-left">
                            <li>
                                <p>I've learnt how to deploy a django application to a heroku server.</p>
                            </li>
                            <li>
                                <p>As a security measure, I've learnt how to use environment variables.</p>
                            </li>
                            <li>
                                <p>I've learnt how to create an api using python.</p>
                            </li>
                            <li>
                                <p>I've learnt how to create responsive webpages using bootstrap4.</p>
                            </li>
                            <li>
                                <p>I've learnt how to use python to scrap a website and collect the needed
                                    information.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card work-card mx-auto text-center" style="max-width: 40rem;">
                    <div class="card-header">
                        Junior Android Developer
                    </div>
                    <div class="card-body">

                        <blockquote class="blockquote mb-0">
                            <p>The project was a low latency mobile Android application used for electronic trading.</p>
                            <footer class="blockquote-footer">I had worked between<cite
                                    title="August 2019 – December 2019">
                                01/08/2019 – 15/12/2019</cite></footer>
                        </blockquote>

                        <h1 class="display-4" style="margin-top: 15px;">What I've learnt</h1>
                        <ul class="text-left">
                            <li>
                                <p>I've learnt more about android development and deployment.</p>
                            </li>
                            <li>
                                <p>I've learnt how to document and write test cases for my code.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}